.box26 {
    position: absolute;
    top: 1150px;
    left: 1715px;
    padding: 20px;
    width: 12%;
    height: 200px;
    background-color: #FFE06D;
    text-align:center;
    border-style: solid;
    border-color: black;
}

.box27 {
    position: absolute;
    top: 1150px;
    left: 2135px;
    padding: 20px;
    width: 12%;
    height: 200px;
    background-color: #FFE06D;
    text-align:center;
    border-style: solid;
    border-color: black;
}

.box28 {
    position: absolute;
    top: 1450px;
    left: 1715px;
    padding: 20px;
    width: 12%;
    height: 200px;
    background-color: #FFE06D;
    text-align:center;
    border-style: solid;
    border-color: black;
}

.box29 {
    position: absolute;
    top: 1450px;
    left: 2135px;
    padding: 20px;
    width: 12%;
    height: 200px;
    background-color: #FFE06D;
    text-align:center;
    border-style: solid;
    border-color: black;
}

.box30 {
    position: absolute;
    top: 1750px;
    left: 20px;
    padding: 20px;
    width: 25%;
    height: 200px;
    background-color: #FCFF92;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box31 {
    position: absolute;
    top: 1750px;
    left: 1020px;
    border-radius: 20px;
    padding: 20px;
    width: 15%;
    height: 30px;
    background-color: #FCFF92;
    border-style: solid;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box32 {
    position: absolute;
    top: 1850px;
    left: 1020px;
    border-radius: 20px;
    padding: 20px;
    width: 15%;
    height: 30px;
    background-color: #FCFF92;
    border-style: solid;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box33 {
    position: absolute;
    top: 1950px;
    left: 1020px;
    border-radius: 20px;
    padding: 20px;
    width: 15%;
    height: 30px;
    background-color: #FCFF92;
    border-style: solid;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box34 {
    position: absolute;
    top: 1750px;
    left: 1835px;
    padding: 20px;
    width: 25%;
    height: 200px;
    background-color: #FCFF92;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}