.box15 {
    position: absolute;
    top: 1025px;
    left: 185px;
    border-radius: 10px;
    padding: 20px;
    width: 15%;
    height: 30px;
    background-color: black;
    text-align:center;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

.box16 {
    position: absolute;
    top: 1150px;
    left: 30px;
    padding: 20px;
    width: 12%;
    height: 200px;
    background-color:  #FFE06D;
    text-align:center;
    border-style: solid;
    border-color: black;
}

.box17 {
    position: absolute;
    top: 1150px;
    left: 410px;
    padding: 20px;
    width: 12%;
    height: 200px;
    background-color:  #FFE06D;
    text-align:center;
    border-style: solid;
    border-color: black;
}

.box18 {
    position: absolute;
    top: 1450px;
    left: 30px;
    padding: 20px;
    width: 12%;
    height: 200px;
    background-color:  #FFE06D;
    text-align:center;
    border-style: solid;
    border-color: black;
}

.box19 {
    position: absolute;
    top: 1450px;
    left: 410px;
    padding: 20px;
    width: 12%;
    height: 200px;
    background-color:  #FFE06D;
    text-align:center;
    border-style: solid;
    border-color: black;
}

.box20 {
    position: absolute;
    top: 1025px;
    left: 1010px;
    border-radius: 10px;
    padding: 20px;
    width: 15%;
    height: 30px;
    background-color: black;
    text-align:center;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

.box21 {
    position: absolute;
    top: 1150px;
    left: 810px;
    padding: 20px;
    width: 12%;
    height: 200px;
    background-color:  #FFE06D;
    text-align:center;
    border-style: solid;
    border-color: black;
}

.box22 {
    position: absolute;
    top: 1150px;
    left: 1285px;
    padding: 20px;
    width: 12%;
    height: 200px;
    background-color:  #FFE06D;
    text-align:center;
    border-style: solid;
    border-color: black;
}

.box23 {
    position: absolute;
    top: 1450px;
    left: 810px;
    padding: 20px;
    width: 12%;
    height: 200px;
    background-color:  #FFE06D;
    text-align:center;
    border-style: solid;
    border-color: black;
}

.box24 {
    position: absolute;
    top: 1450px;
    left: 1285px;
    padding: 20px;
    width: 12%;
    height: 200px;
    background-color:  #FFE06D;
    text-align:center;
    border-style: solid;
    border-color: black;
}

.box25 {
    position: absolute;
    top: 1025px;
    left: 1900px;
    border-radius: 10px;
    padding: 20px;
    width: 15%;
    height: 30px;
    background-color: black;
    text-align:center;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}